/* CUSTOM STYLES HERE */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.hoursOpen {
    color: green;
}
.phoneNum {
    color: orange;
}

#MainContainer {
    max-height: 50em;
    max-width: 75em;
}
#CardCol {
    max-height: 49em;
    max-width: 75em;
    overflow: auto;
}